{{#if view.isEntitled}}
		<a {{bindAttr class="view.hasAction:menu-link view.isDisabled:ui-state-disabled"}} href="#" {{action menuClicked target="view"}}>
			{{#if view.hasChildren}}<i class="icon-chevron-left"></i>{{/if}}
			<i {{bindAttr class=":menu-icon view.icon"}} {{bindAttr data-title="view.title"}} data-placement="right" data-animation="false"></i>
			<span class="content">{{loc view.title}}</span>
		</a>
		{{#if view.hasChildren}}
			<div class="mp-level">
				<h2><i {{bindAttr class=":menu-icon view.icon"}}></i> {{loc view.title}}</h2>
				<a class="mp-back" href="#">Back <i class="icon-chevron-right"></i></a>
				<ul>
					{{yield}}
				</ul>
			</div>
		{{/if}}
{{/if}}