
<div class="filter-container slide-from-left">
		<div>
			<h3>Filter</h3>
			<a {{action togglePin target="view"}} {{bindAttr class=":pin-button :pull-right view.isPinned:selected"}}><i class="icon-pushpin"></i></a>
		</div>
		{{#view Tent.Form formStyle="vertical"}}
			<div class="filterpanel">
				<header>
					<a {{action addFilterField target="controller"}} class="add-filter-button"><i class="icon-plus"></i>{{loc tent.filter.add}}</a>

					{{view Tent.Button label="tent.filter.filter" type="link" action="applyFilter" targetBinding="view.parentView" class="filter-button" iconClass="icon-caret-right" isDisabledBinding="view.parentView.areAnyFieldsInvalid" validate=true }}
				</header>
				<div class="content">
					<div class="background-hint">{{loc tent.filter.bgHint}}</div>
					{{#each view.controller.content}}
						{{view Tent.FilterFieldView contentBinding="this" usageContextBinding="view.parentView.usageContext" }}
					{{/each}}
				</div>
			</div>
		{{/view}}
</div>
