<div class="filter-container slide-from-left">
	{{#view Tent.Form formStyle="vertical"}}
		<div class="filterpanel">
			<header>
				<span class="title">{{loc tent.filter.appliedFilters}}</span>
				{{view Tent.Button label="tent.filter.filterAction" type="link" action="applyFilter" targetBinding="view.parentView" class="filter-button" iconClass="icon-caret-right" isDisabledBinding="view.parentView.areAnyFieldsInvalid" validate=true }}
			</header>
			<div class="content">
				{{#each view.controller.content}}
					{{view Tent.FilterFieldView contentBinding="this" usageContextBinding="view.parentView.usageContext" }}
				{{/each}}
				<a {{action addFilterField target="controller"}} class="add-filter-button btn"><i class="icon-plus"></i>{{loc tent.filter.add}}</a>
			</div>
		</div>
	{{/view}}
</div>
