<section class="animate-in">
	<div class="filter-controls pull-right">
		{{#if view.showTrashIcon}}
			<a {{action deleteFilterField this target="view.parentController"}} title="{{loc tent.filter.del}}"><i class="icon-trash"></i></a>
		{{/if}}
		{{#if view.showLockIcon}}
			<a {{action toggleLock target="controller"}} title="{{loc tent.filter.lock}}" {{bindAttr class="view.lockIsSelected:selected controller.lockIsEnabled:enabled:disabled :field-lock"}}><i class="icon-lock"></i></a>
		{{/if}}
	</div>
	<div class="filter-field">
		{{view Tent.Select listBinding="view.parentController.filterableColumns" selectionBinding="controller.selectedColumn" valueBinding="controller.content.field" label="tent.filter.fieldname" optionLabelPath="content.title" optionValuePath="content.name" multiple=false required="false" preselectSingleElement=true class="no-label" prompt="tent.filter.prompt" disabledBinding="controller.isDisabled"}}
 		{{#if view.typeIsSelected}}
 			{{view Tent.FilterFieldControlView columnBinding="controller.selectedColumn" contentBinding="controller.content" isDisabledBinding="controller.isDisabled"}}
 		{{/if}}
 	</div>
</section>


 
