{{#if view.title}}
	<span>
		<a class="accordion-toggle" data-toggle="collapse" 
			{{bindAttr data-parent="view.dataParent"}}
			{{bindAttr href="view.href"}}>
			{{loc view.title}}
		</a>
	</span>
	<span>
		{{yield}}
	</span>
{{else}}
	<span class="accordion-toggle accordion-head-content">{{yield}}</span>
{{/if}}
	 