<div 	{{bindAttr class="view.classes view.buttonClass"}}
		{{action triggerAction target="view"}}
		{{bindAttr data-toggle="view.dataToggle"}}
    {{bindAttr disabled="view.isDisabled"}}
    {{bindAttr title="view.localizedTitle"}}
		role="button"
		>
  <i {{bindAttr class="view.iconClass"}}></i> {{view.localizedLabel}}
  {{#if view.hasOptions}}
  	 <span class="caret"></span>
  {{/if}}
</div>
{{#if view.hasOptions}}
	{{collection contentBinding="view._options" tagName="ul" classNames="dropdown-menu" itemViewClass="Tent.ButtonOptions"}}
{{/if}}

{{#if view.warn}}

	{{#view Tent.ModalPane 
          class="warning-panel"
          autoLaunch=false
          header="tent.warning.header" 
          primaryLabel="tent.button.proceed" 
          secondaryLabel="tent.button.dontProceed"
          primaryType="warning"
          primaryIcon="icon-ok icon-white"
          secondaryIcon="icon-remove"
          primaryAction="ignoreWarnings"
          primaryTargetBinding="view"
    }}
    	{{loc tent.warning.warningsOnPage}}
    	 
  		{{#each view.parentView.messagePanel.warning}}
  				<div class="alert">
  					<strong>{{loc label}}:</strong>  {{messages}}
  				</div>
  		{{/each}}
			 
    {{/view}}
{{/if}}

{{#if view.shouldConfirm}}

  {{#view Tent.ModalPane 
          class="confirmation-panel"
          autoLaunch=false
          headerBinding="view.confirmationTitle" 
          primaryLabelBinding="view.confirmationYes" 
          secondaryLabelBinding="view.confirmationNo"
          primaryType="warning"
          primaryIcon="icon-ok icon-white"
          secondaryIcon="icon-remove"
          primaryAction="confirmAction"
          primaryTargetBinding="view"
          closeAction="view.confirmationNo"
    }}

      {{loc view.parentView.confirmationMessage}}
      
       
  {{/view}}
{{/if}}