<h5>Collection Filter</h5>

{{view Ember.View templateName="task_collection_filter" collectionBinding="view.collection"}}

<ul>
{{#each item in view.collection.availableFilters }}
	<li>{{item.label}}-</li>
{{/each}}
</ul>

<div class="filter-panel">
	{{view Tent.Select 
		label="_CurrentFilter" 
		listBinding="view.availableFilters" 
		selectionBinding="view.selectedFilter" 
		optionLabelPath="content.label" 
		optionValuePath="content.name"
	}}

	<p>Filter Label: {{view.currentFilter.label}}</p>
	<p>Filter Description: {{view.currentFilter.description}}</p>
	{{view Tent.Button label="_saveFilter" type="primary" action="saveFilter" targetBinding="view"}}
	<a href="#myModal" role="button" class="btn" data-toggle="modal">Launch demo modal</a>
	{{view Tent.ModalPane id="myModal" text="_modalText" header="_modalHeader" primary="_ok" secondary="_cancel"}}	
<div>

{{view Tent.Button label="Filter" type="primary" action="filter" targetBinding="view"}}
