<div class="summary-panel form-inline">
	{{view Tent.Select span="4"
			label="tent.filter.currentFilter" 
			listBinding="view.availableFilters" 
			selectionBinding="view.selectedDropdownFilter" 
			optionLabelPath="content.label" 
			optionValuePath="content.name"
			prompt="tent.filter.noFilter"
			class="pull-left"
	}}
	<a class="toggle pull right" data-toggle="collapse" {{bindAttr data-target="view.collapsiblePanel"}}>
		<span class="caret"></span>
	</a>

</div>

<div class="filter-details collapse in">

	{{view Tent.FilterFieldsView
		collectionBinding="view.collection"
	}}
	
	<div class="form-inline">
		    {{#view Tent.ModalPane 
		    	label="tent.filter.saveFilter"
		        header="tent.filter.saveFilter" 
		        primaryLabel="filter.save" 
		        secondaryLabel="tent.filter.cancel"
		        type="link"
		        primaryAction="saveFilter"
		        primaryTargetBinding="view"
		        closeOnSubmit=true
		    	}}
	    	
	      		{{view Tent.TextField valueBinding="view.parentView.currentFilter.label" label="tent.filter.label" required=true}}
	      		{{view Tent.TextField valueBinding="view.parentView.currentFilter.description" label="tent.filter.description"}}
	      	{{/view}}
	    	
	    	{{view Tent.Button label="tent.filter.filter" type="primary" action="filter" targetBinding="view" class="do-filter pull-right"}}

	    	{{view Tent.Button label="tent.filter.clear" type="link" action="clearFilter" targetBinding="view" class="do-filter pull-left"}}

	</div>
</div>
