<h5>Collection Filter</h5>

{{view Ember.View templateName="task_collection_filter" collectionBinding="view.collection"}}

<div class="filter-panel">
	{{view Tent.Select 
		label="_CurrentFilter" 
		listBinding="view.availableFilters" 
		selectionBinding="view.selectedFilter" 
		optionLabelPath="content.label" 
		optionValuePath="content.name"
	}}

	<p>Filter Label: {{view.currentFilter.label}}</p>
	<p>Filter Description: {{view.currentFilter.description}}</p>

<div>

<h4>ID in Selected Filter = {{view.selectedFilter.values.id}}</h4>
