

{{view Ember.View 
	templateNameBinding="view.filterTemplate" 
	collectionBinding="view.collection"
	filterBinding="view.currentFilter"
}}


<div class="form-inline">

		{{view Tent.Select span="4"
			label="filter.currentFilter" 
			listBinding="view.availableFilters" 
			selectionBinding="view.selectedFilter" 
			optionLabelPath="content.label" 
			optionValuePath="content.name"
		}}

	    {{#view Tent.ModalPane 
	    	label="filter.saveFilter"
	        header="filter.saveFilter" 
	        primaryLabel="filter.save" 
	        secondaryLabel="filter.cancel"
	        type="link"
	        primaryAction="saveFilter"
	        primaryTargetBinding="view"
	    	}}
    	
      		{{view Tent.TextField valueBinding="view.parentView.currentFilter.label" label="filter.label" required=true}}
      		{{view Tent.TextField valueBinding="view.parentView.currentFilter.description" label="filter.description"}}
      	{{/view}}
    
      	{{view Tent.Button label="Filter" type="primary" action="filter" targetBinding="view"}}

</div>

