
{{view Ember.View templateNameBinding="view.filterTemplate" collectionBinding="view.collection"}}

<div class="row tent form-inline">
	{{#view Tent.Form formStyle="inline" span="10"}}
	{{/view}}
</div>
<div class="row tent form-inline">
	{{#view Tent.Form formStyle="inline" span="10"}}

		{{view Tent.Select span="4"
			label="_CurrentFilter" 
			listBinding="view.parentView.availableFilters" 
			selectionBinding="view.parentView.selectedFilter" 
			optionLabelPath="content.label" 
			optionValuePath="content.name"
		}}

	    {{#view Tent.ModalPane 
	    	label="_saveFilter"
	        header="_saveFilter" 
	        primaryLabel="_save" 
	        secondaryLabel="_cancel"
	        type="primary"
	        primaryAction="saveFilter"
	        primaryTargetBinding="view.parentView"
	    	}}
    	
      		{{view Tent.TextField valueBinding="view.parentView.parentView.currentFilter.label" label="_label"}}
      		{{view Tent.TextField valueBinding="view.parentView.parentView.currentFilter.description" label="_description"}}
      	{{/view}}
    
      	{{view Tent.Button label="Filter" type="primary" action="filter" targetBinding="view.parentView"}}
    {{/view}}

    

</div>

