<div class="summary-panel form-inline">
	{{view Tent.Select span="4"
			label="tent.filter.currentFilter" 
			listBinding="view.availableFilters" 
			selectionBinding="view.selectedFilter" 
			optionLabelPath="content.label" 
			optionValuePath="content.name"
			prompt="tent.filter.noFilter"
	}}
	{{view Tent.TextField label="tent.filter.search" type="search" }}
	
	<a class="toggle" data-toggle="collapse" {{bindAttr data-target="view.collapsiblePanel"}}>
		<span class="caret"></span>
	</a>

</div>

<div class="filter-details collapse in">

	{{#if view.filterTemplate}}
		{{view Ember.View 
			templateNameBinding="view.filterTemplate" 
			collectionBinding="view.collection"
			filterBinding="view.currentFilter"
		}}
	{{else}}
		{{view Tent.FilterFieldsView
			collectionBinding="view.collection"
		}}
	{{/if}}

	<div class="form-inline">
		    {{#view Tent.ModalPane 
		    	label="tent.filter.saveFilter"
		        header="tent.filter.saveFilter" 
		        primaryLabel="filter.save" 
		        secondaryLabel="tent.filter.cancel"
		        type="link"
		        primaryAction="saveFilter"
		        primaryTargetBinding="view"
		        closeOnSubmit=true
		    	}}
	    	
	      		{{view Tent.TextField valueBinding="view.parentView.currentFilter.label" label="tent.filter.label" required=true}}
	      		{{view Tent.TextField valueBinding="view.parentView.currentFilter.description" label="tent.filter.description"}}
	      	{{/view}}
	    
	      	{{view Tent.Button label="tent.filter.filter" type="primary" action="filter" targetBinding="view" class="do-filter pull-right"}}

	</div>
</div>
