<div class="btn-group header-buttons">
	{{#if view.grid.scroll}}
		<div class="header-pager">
			Page {{view.grid.pagingInfo.page}} of {{view.grid.pagingInfo.totalPages}}
		</div>
	{{/if}}

	{{#if view.grid.showAutofitButton}}
		{{view Tent.Grid.AutofitButton gridBinding="view.grid"}}
	{{/if}}

  	{{#if view.grid.showExportButton}}
  		{{#if view.someExportsAreAllowed}}
    		{{view view.exportView}}
    	{{/if}}
  	{{/if}}

  	{{#if view.grid.showColumnChooser}}
		{{view Tent.Grid.ColumnChooserButton gridBinding="view.grid"}}  
	{{/if}}

	{{#if view.grid.collection}}
		{{#if view.grid.filtering}}
			<a {{action toggleFilter target="view.grid"}} class="btn-filter pull-right">
				<i class="icon-filter"></i>{{loc tent.filter.filter}}
			</a>
		{{/if}}
	{{/if}}	

</div>

