{{#if view.content.isLoadable}}
	{{#unless view.content.isLoaded}}
		{{view Tent.WaitIcon}}
  	{{/unless}}
{{/if}}

<div class="jqgrid-backdrop" class=""></div>

{{view Tent.JqGridHeaderView gridBinding="view"}}

<div class="grid-container">
	<div class="filter-container slide-from-left"}}>
		{{view Tent.FilterPanelView collectionBinding="view.collection"}}
	</div>
	
	<div class="table-container">
    	<table class="grid-table"></table>
    </div>
</div>
<div class="gridpager"></div>
{{#if view.hasErrors}}
	<span class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}{{loc error}}{{/each}}</span>
{{/if}}



 

