{{#if view.content.isLoadable}}
	{{#unless view.content.isLoaded}}
		{{view Tent.WaitIcon}}
  	{{/unless}}
{{/if}}

<div class="jqgrid-backdrop" class=""></div>

{{view Tent.JqGridHeaderView gridBinding="view"}}

<div class="grid-container">
	{{view Tent.FilterPanelView collectionBinding="view.collection" isPinnedBinding="view.isPinned" showFilterBinding="view.showFilter" usageContextBinding="view.usageContext"}}

	<div class="table-container">
        {{#if view.showMultiview}}
            {{view Tent.CollectionPanelView 
                collectionBinding="view.collection"
                contentViewTypeBinding="view.cardViewType"
                selectionBinding="view.selection"
                selectable=true
                isVisibleBinding="view.showCardView"
            }} 
        {{/if}}
        <div {{bindAttr class=":visibility-wrapper view.showCardView:hidden"}}>
    	   <table class="grid-table"></table>
           <div class="gridpager"></div>
        </div>
    </div>
</div>

{{#if view.hasErrors}}
	<span class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}{{loc error}}{{/each}}</span>
{{/if}}



 

