<div class="wrapper left">
    {{#if view.grid.showExportButton}}
        {{#if view.someExportsAreAllowed}}
            {{view view.exportView}}
        {{/if}}
    {{/if}}
</div>
<div class="wrapper middle">
    {{#if view.grid.scroll}}
        <div class="header-pager">
            <p class="title">{{loc tent.jqGrid.pagerViewing}}</p>
            <p class="pager-details">Page {{view.grid.pagingInfo.page}} of {{view.grid.pagingInfo.totalPages}}</p>
        </div>
    {{/if}}
</div>
<div class="wrapper right">
    {{#if view.grid.showAutofitButtonProp}}
    	<div class="button-wrapper">
        {{view Tent.Grid.AutofitButton gridBinding="view.grid"}}
      </div>
    {{/if}}
    {{#if view.grid.showMultiview}}
    	<div class="button-wrapper">
        {{view Tent.Grid.MultiviewButtons showCardViewBinding="view.grid.showCardView" showListViewBinding="view.grid.showListView"}}
      </div>
    {{/if}}
    {{#if view.grid.showColumnChooser}}
    	<div class="button-wrapper">
        {{view Tent.Grid.ColumnChooserButton gridBinding="view.grid"}}  
      </div>
    {{/if}}
    {{#if view.grid.collection}}
        {{#if view.grid.filtering}}
            <div class="button-wrapper">
                <a {{action toggleFilter target="view.grid"}} class="btn-filter button-control">
                    {{loc tent.filter.filter}}
                </a>
            </div>
        {{/if}}
    {{/if}}  
</div>

