{{#if view.hasErrors}}
<section class="alert-error clearfix">
	<h5>Errors</h5>
	{{#if view.collapsible}}
		<div {{bindAttr class="view.expandoClass"}}>
			{{#each view.error}}
				<div class="error-message" {{bindAttr data-target="this.sourceId"}}>
	  				<label>{{loc this.label}}: </label> <ul>{{#each this.messages}}<li>{{this}}</li>{{/each}}</ul>
	  			</div> 
		  	{{/each}}
		  	{{#if view.hasMoreThanOneError}}
				<a href="#" class="dropdown-toggle pull-right close" data-toggle="collapse" data-target=".error-expando">
					<b class="caret"></b></a>
			{{/if}}
		</div>
		
	{{else}}
		<div>
			{{#each view.error}}
				<div class="error-message" {{bindAttr data-target="this.sourceId"}}>
	  				<label>{{loc this.label}}</label> : <ul>{{#each this.messages}}<li>{{this}}</li>{{/each}}</ul>
	  			</div> 
		  	{{/each}}
		</div>
	{{/if}}
</section>
{{/if}}

{{#if view.hasInfos}}
<section class="alert-info clearfix">
	{{view Tent.Button label="x" type="link" action="clearInfos" targetBinding="view" class="close"}}
	<h5>Info</h5>
	<div class="info-expando">
		{{#each view.info}}
			<div class="info-message" {{bindAttr data-target="this.sourceId"}}>{{this.messages}}</div> 
	  	{{/each}}
	</div>
</section>
{{/if}}

{{#if view.hasWarnings}}
	{{#each view.warning}}
		<section class="alert clearfix">
			{{view Tent.Button label="x" type="link" action="removeMessageCommand" targetBinding="view" class="close"}}
			<h5>Warning</h5>
				<div>
					<div class="error-message" {{bindAttr data-target="this.sourceId"}}>
		  				<label>{{loc this.label}}</label> : {{this.messages}}
		  			</div> 
			 	</div>
		</section>
	{{/each}}
{{/if}}

