{{#if view.hasErrors}}
<div class="alert-error clearfix">
	<span class="title">Errors</span>
	<div class="error-expando collapse">
		{{#each view.error}}
			<div class="error-message" {{bindAttr data-target="this.sourceId"}}>
  				<label>{{loc this.label}}</label> : {{this.messages}}
  			</div> 
	  	{{/each}}
	</div>
	<a href="#" class="dropdown-toggle pull-right" data-toggle="collapse" data-target=".error-expando">
		<b class="caret"></b></a>
</div>
{{/if}}

{{#if view.hasInfos}}
<div class="alert-info clearfix">
	<span class="title">Info</span>
	<div class="info-expando collapse">
		{{#each view.info}}
			<div class="info-message" {{bindAttr data-target="this.sourceId"}}>{{this.messages}}</div> 
	  	{{/each}}
	</div>
	<a href="#" class="dropdown-toggle pull-right" data-toggle="collapse" data-target=".info-expando">
		<b class="caret"></b></a>
</div>
{{/if}}