
	{{#if view.label}}
		{{#unless view.customButton}}
		{{view Tent.Button class="launch" labelBinding="view.label" aria-haspopup="true" action="launch" targetBinding="view" typeBinding="view.type"}}
		{{/unless}}
	{{/if}}

	<div class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
		<div class="modal-header">
			{{view Tent.Button buttonClass="close-dialog close" label="&times;" actionBinding="view.closeAction" targetBinding="view.closeTarget" type="link"}}

		  	{{view Tent.ModalHeader}}
		</div>
		<div class="modal-body">
			{{view Tent.MessagePanel type="secondary" isActive=false collapsible=true collapsed=true}}
			{{#if view.text}}
		  		{{view Tent.ModalBody}}
		  	{{/if}}
		  	{{yield}}
		</div>
		<div class="modal-footer">
			<div class="btn-toolbar">

			  {{#if view.secondaryLabel}}
			  	{{view Tent.Button buttonClass="close-dialog pull-left" labelBinding="view.secondaryLabel" actionBinding="view.secondaryAction" targetBinding="view.secondaryTarget" typeBinding="view.secondaryType" iconClassBinding="view.secondaryIcon"}}
			  {{/if}}
			  {{#if view.primaryLabel}}
			  	{{view Tent.Button buttonClass="" labelBinding="view.primaryLabel" actionBinding="view.primaryAction" targetBinding="view.primaryTarget" type="primary" iconClassBinding="view.primaryIcon" validate=true}}
			  {{/if}}
			</div>
		</div>
	</div>
