{{view Tent.Button class="launch" labelBinding="view.label" aria-haspopup="true" action="launch" targetBinding="view" typeBinding="view.type"}}

<div class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
	<div class="modal-header">
	  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	  {{view Tent.ModalHeader}}
	</div>
	<div class="modal-body">
	  {{#if view.text}}
	  	{{view Tent.ModalBody}}
	  {{/if}}
	  {{yield}}
	</div>
	<div class="modal-footer">
	  {{#if view.secondary}}
	  	{{view Tent.Button buttonClass="close-dialog" labelBinding="view.secondary" actionBinding="view.secondaryAction" targetBinding="view.secondaryTarget" type="secondary"}}
	  {{/if}}
	  {{#if view.primary}}
	  	{{view Tent.Button buttonClass="close-dialog" labelBinding="view.primary" actionBinding="view.primaryAction" targetBinding="view.primaryTarget" type="primary"}}
	  {{/if}}
	</div>
</div>