<div class="tent-pager control-strip">
	<div class="wrapper middle">
		<div class="button-wrapper">
				<span>
		      <a {{action prev target="view"}} class="button-control" href="#" {{bindAttr title="view.prevTitle"}}><i class="icon-chevron-left"></i></a>
		    </span>
		    <span class="summary">
		      Page: {{view.collection.pagingInfo.page}} of {{view.collection.pagingInfo.totalPages}}
		    </span>
		    <span>
		      <a {{action next target="view"}} class="button-control" href="#" {{bindAttr title="view.nextTitle"}}><i class="icon-chevron-right"></i></a>     
		    </span>
			</div>
		</div>
</div>

 