<label class="control-label" {{bindAttr for="view.forId"}}>{{loc view.label}}
    <span class='tent-required'></span>
</label>

<div class="controls">
  {{#if view.isFilter}}
    {{#if view.operators}}
      {{view Tent.Select 
        label="tent.filter.operatorLabel"
        listBinding="view.operators" 
        class="embed no-label operators" 
        optionLabelPath="content.label"
        optionValuePath="content.operator"
        selectionBinding="view.filterSelection"
        valueBinding="view.filterOp"
        prompt="tent.filter.operatorPrompt"
        disabledBinding="view.disabled"
        isValidBinding="view.operatorsIsValid"
        textDisplayBinding="view.isTextDisplay"
        required=true
      }}
    {{/if}}
  {{/if}}
  <div class="input-prepend">
    {{#if view.showSpinner}}
      <div class="wait"><i class="icon-spinner icon-spin"></i></div>
    {{/if}}
    {{#if view.isTextDisplay}}
      <span class="text-display-text">{{loc view.currentSelectedLabel}}</span>
    {{else}}
      {{#if view.isRadioGroup}}
        <div class="radio-group">
          {{view Tent.SelectElement 
                 contentBinding="view.list" 
                 class="tent-radio-group"
                 optionLabelPathBinding="view.optionLabelPath" 
                 optionValuePathBinding ="view.optionValuePath" 
                 selectionBinding="view.selection"
                 valueBinding = "view.value"
                 tagName = "div"
                 templateName = "radio_group"
          }} 
        </div>
      {{else}}
        {{#if view.listIsLoaded}}
          {{view Tent.SelectElement 
                 contentBinding="view.list" 
                 classNameBindings="view.inputSizeClass" 
                 class="primary-class"
                 optionLabelPathBinding="view.optionLabelPath" 
                 optionValuePathBinding ="view.optionValuePath" 
                 selectionBinding="view.selection"
                 multipleBinding="view.multiple"
                 promptBinding = "view._prompt"
                 advancedBinding="view.advanced" 
                 valueBinding = "view.value"}} 
        {{/if}} 
      {{/if}}
      {{#if view.hasHelpBlock}}
        <span class="help-block" {{bindAttr id="view.helpId"}}>{{loc view.helpBlock}}</span>
      {{/if}}
    {{/if}}
  	{{#if view.tooltip}}
      <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltipT"}}></a>
    {{/if}}
  	{{#if view.hasErrors}}
      	<span class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}{{error}}{{/each}}</span>
    {{/if}}
    {{#if view.hasWarnings}}
      <ul class="help-inline" {{bindAttr id="view.warningId"}}>{{#each warning in view.validationWarnings}}<li>{{loc warning}}</li>{{/each}}</ul>
    {{/if}}  
  </div>
</div>