<label class="control-label" {{bindAttr for="view.forId"}}>{{loc view.label}}<span class='tent-required'/></label>

<div class="controls">
  <div class="input-prepend">
    {{#if view.isTextDisplay}}
      <span class="text-display">{{loc view.currentSelectedLabel}}</span>
    {{else}}
      {{#if view.isRadioGroup}}
        <div class="radio-group">
        {{view Tent.SelectElement 
               contentBinding="view.list" 
               class="tent-radio-group"
               optionLabelPathBinding="view.optionLabelPath" 
               optionValuePathBinding ="view.optionValuePath" 
               selectionBinding="view.selection"
               valueBinding = "view.value"
               tagName = "div"
               templateName = "radio_group"
        }} 
        </div>
      {{else}}
        {{view Tent.SelectElement 
               contentBinding="view.list" 
               classBinding="view.inputSizeClass" 
               optionLabelPathBinding="view.optionLabelPath" 
               optionValuePathBinding ="view.optionValuePath" 
               selectionBinding="view.selection"
               multipleBinding="view.multiple"
               promptBinding = "view._prompt" 
               valueBinding = "view.value"}} 
      {{/if}}
      {{#if view.hasHelpBlock}}
        <span class="help-block" {{bindAttr id="view.helpId"}}>{{loc view.helpBlock}}</span>
      {{/if}}
    {{/if}}
  	{{#if view.tooltip}}
      <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltipT"}}></a>
    {{/if}}
  	{{#if view.hasErrors}}
      	<span class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}{{error}}{{/each}}</span>
    {{/if}}
  </div>
</div>