<label class="control-label">
  {{#if view.label}}{{loc view.label}}{{/if}}
  <span class='tent-required'/></label>
<div class="controls">
  <div class="input-prepend">
    {{#if view.hasPrefix}}  
      <span class="add-on">{{loc view.prefix}}</span>
    {{/if}}     
    {{#if view.textDisplay}}
      <span class="text-display">{{view.formattedValue}}</span>
    {{else}}
      {{view Tent.TextareaInput 
          classBinding="view.inputSizeClass" 
          valueBinding="view.formattedValue" 
          placeholderBinding="view.translatedPlaceholder"
          rowsBinding="view.rows"
          colsBinding="view.cols"
      }}
      {{#if view.hasHelpBlock}}
        <span class="help-block" {{bindAttr id="view.helpId"}}>{{loc view.helpBlock}}</span>
      {{/if}}
    {{/if}}
    {{#if view.tooltip}}
      <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltipT"}}></a>
    {{/if}}
    {{#if view.hasHelpBlock}}
      <span class="help-block">{{loc view.helpBlock}}</span>
    {{/if}}
    {{#if view.hasErrors}}
      <span class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}{{error}}{{/each}}</span>
    {{/if}}  
  </div>

</div>
