<label class="control-label" {{bindAttr for="view.forId"}}>{{loc view.label}}
  <span class='tent-required'></span>
</label>
<div class="controls">
  {{#if view.isFilter}}
    {{#if view.operators}}
      {{view Tent.Select 
        label="tent.filter.operatorLabel"
        listBinding="view.operators" 
        class="embed no-label operators input-medium" 
        optionLabelPath="content.label"
        optionValuePath="content.operator"
        selectionBinding="view.filterSelection"
        valueBinding="view.filterOp"
        selectionBinding="view.selectedOperator"
        advanced=false
        prompt="tent.filter.operatorPrompt"
        disabledBinding="view.disabled"
        required=true
        isValidBinding="view.operatorsIsValid"
        textDisplayBinding="view.isTextDisplay"
      }}
    {{/if}}
  {{/if}}
  <div class="input-prepend">
    {{#if view.isTextDisplay}}
      <span class="text-display-text">{{#if view.hasPrefix}}<span class="prefix">{{loc view.prefix}}</span>{{/if}}{{view.formattedValue}}</span>
    {{else}}
      {{#if view.hasPrefix}}  
        <span class="add-on">{{view.prefix}}</span>
      {{/if}} 
      {{view Tent.TextFieldInput 
        valueBinding="view.formattedValue" 
        placeholderBinding="view.translatedPlaceholder"
        classBinding="view.fieldClass"
        typeBinding="view.type"
      }}

      {{#if view.isRangeOperator}}
        {{#unless view.hasOwnRangeDisplay}}
          {{view Tent.TextFieldInput 
            valueBinding="view.value2" 
            placeholderBinding="view.translatedPlaceholder"
            classBinding="view.controlClass"
            classNames="range-end"
            typeBinding="view.type"
          }}
        {{/unless}}
      {{/if}}
      {{#if view.hasParsedValue}}
        <span class="help-inline">{{view.parsedValue}}</span>
      {{/if}} 
      {{#if view.hasHelpBlock}}
        <span class="help-block" {{bindAttr id="view.helpId"}}>{{loc view.helpBlock}}</span>
      {{/if}}
    {{/if}}
    {{#if view.hasErrors}}
      <ul class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}<li>{{loc error}}</li>{{/each}}</ul>
    {{/if}}  
    {{#if view.hasWarnings}}
      <ul class="help-inline warning" {{bindAttr id="view.warningId"}}>{{#each warning in view.validationWarnings}}<li>{{loc warning}}</li>{{/each}}</ul>
    {{/if}}  

  </div>
  {{#if view.tooltip}}
    <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltipT"}}></a>
  {{/if}}

</div>
