<label class="control-label" {{bindAttr for="view.forId"}}>{{loc view.label}}<span class='tent-required'/></label>
<div class="controls">
  <div class="input-prepend">
    {{#if view.isTextDisplay}}
      <span class="text-display">{{#if view.hasPrefix}}<span class="prefix">{{loc view.prefix}}</span>{{/if}}{{view.formattedValue}}</span>
    {{else}}
      {{#if view.hasPrefix}}  
        <span class="add-on">{{loc view.prefix}}</span>
      {{/if}} 
      {{view Tent.TextFieldInput 
        
        valueBinding="view.formattedValue" 
        placeholderBinding="view.placeholder"
      }}
      {{#if view.hasHelpBlock}}
        <span class="help-block">{{loc view.helpBlock}}</span>
      {{/if}}
    {{/if}}
    {{#if view.hasErrors}}
      {{#each error in view.validationErrors}}
        <span class="help-inline">{{loc error}}</span>
      {{/each}}
    {{/if}}  
  </div>
  {{#if view.tooltip}}
    <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltipT"}}></a>
  {{/if}}

</div>
