<label class="control-label" {{bindAttr for="view.forId"}}>{{loc view.label}}<span class='tent-required'/></label>
<div class="controls">
  {{#if view.isFilter}}
    {{view Tent.Select listBinding="view.operators" class="embed no-label" 
      optionLabelPath="content.label"
      optionValuePath="content.operator"
      valueBinding="view.filterOp"
    }}
  {{/if}}
  <div class="input-prepend">
    {{#if view.isTextDisplay}}
      <span class="text-display">{{#if view.hasPrefix}}<span class="prefix">{{loc view.prefix}}</span>{{/if}}{{view.formattedValue}}</span>
    {{else}}
      {{#if view.hasPrefix}}  
        <span class="add-on">{{view.prefix}}</span>
      {{/if}} 
      {{view Tent.TextFieldInput 
        valueBinding="view.formattedValue" 
        placeholderBinding="view.translatedPlaceholder"
        classBinding="view.controlClass"
        typeBinding="view.type"
      }}
      {{#if view.hasHelpBlock}}
        <span class="help-block" {{bindAttr id="view.helpId"}}>{{loc view.helpBlock}}</span>
      {{/if}}
    {{/if}}
    {{#if view.hasErrors}}
      <ul class="help-inline" {{bindAttr id="view.errorId"}}>{{#each error in view.validationErrors}}<li>{{loc error}}</li>{{/each}}</ul>
    {{/if}}  
    {{#if view.hasWarnings}}
      <ul class="help-inline warning" {{bindAttr id="view.warningId"}}>{{#each warning in view.validationWarnings}}<li>{{loc warning}}</li>{{/each}}</ul>
    {{/if}}  

  </div>
  {{#if view.tooltip}}
    <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltipT"}}></a>
  {{/if}}

</div>
