<label class="control-label" {{bindAttr for="view.forId"}}>{{view.label}}</label>

<div class="controls">
  <span class='tent-required'/>
  <div class="input-prepend">
    {{#if view.isTextDisplay}}
      <span class="text-display">{{#if view.hasPrefix}}<span class="prefix">{{view.prefix}}</span>{{/if}}{{view.formattedValue}}</span>
    {{else}}
      {{#if view.hasPrefix}}  
        <span class="add-on">{{view.prefix}}</span>
      {{/if}} 
      {{view Tent.TextFieldInput 
        classBinding="view.inputSizeClass" 
        valueBinding="view.formattedValue" 
        placeholderBinding="view.placeholder"
      }}
      {{#if view.hasHelpBlock}}
        <span class="help-block">{{view.helpBlock}}</span>
      {{/if}}
    {{/if}}
    {{#if view.hasErrors}}
      {{#each error in view.validationErrors}}
        <span class="help-inline">{{view.error}}</span>
      {{/each}}
    {{/if}}  
  </div>
  {{#if view.tooltip}}
    <a href="#" rel="tooltip" data-placement="right" {{bindAttr data-original-title="view.tooltip"}}></a>
  {{/if}}



</div>
