<label class="control-label">{{view.label}}</label>
<div class="controls">
  <div class="input-prepend">
    {{#if view.hasPrefix}}  
      <span class="add-on">{{view.prefix}}</span>
    {{/if}}     
    {{#if view.isEditable}}
      {{view Ember.TextField classBinding="view.inputSizeClass" valueBinding="view.formattedValue"}}
    {{else}}
      <span {{bindAttr class="view.unEditableClass view.inputSizeClass"}}>{{view.formattedValue}}</span>
    {{/if}}
  </div>
  {{#if view.hasErrors}}
    {{#each error in view.validationErrors}}
      <span class="help-inline">{{view.validationErrors}}</span>
    {{/each}}
  {{/if}}  
</div>
